.container, .cointainer:hover {
  --bg-color: #55aaff;
  --bg-highlight-color: #9c8d06;
  --frame-border-color: #376ca1;
  --title-font-color: #b0b0b0;
}

.container{
  max-height: 300px;
  min-height: 300px;
  max-width: 200px;
  min-width: 200px;
  border: 6px outset var(--frame-border-color);
  border-radius: 15px;
  padding: 20px 15px;
  margin: 30px 20px;
  background-color: var(--bg-color);
  color: var(--title-font-color);
  text-shadow: 2px 1px 5px black;
  text-align: center;
  transition: 250ms ease-in-out;
}
.container:hover {
  transform: scale(1.05);
  transition: 250ms ease-in-out;
  box-shadow: 0 0 25px var(--bg-highlight-color);
}
