<div class="container">
  <div class="image-wrapper">
    <img [src]="actorImage" alt="">
  </div>
  <div class="text-wrapper">
    <h4>{{actorName}}</h4>
    <p>{{actorDescription}}</p>
  </div>

</div>
