.button,
.button-text,
.button:hover,
.unactive-button,
.unactive-button-text {
  --bg-color: #55aaff;
  --gradient-color: #cfcfd0;
  --bg-highlight-color: #9c8d06;
  --frame-border-color: #376ca1;
  --title-font-color: #b0b0b0;
  --button-font-color: #ffffff;
  --button-hover-bg-color: #1a8dff;
  --unactive-button-bg-color: #a1a1a1;
  --unactive-frame-border-color: #7b7b7b;
  --unactive-font--color: #c3c3c3;
}

.button {
  display: table;
  height: 35px;
  min-width: 80px;
  background-color: var(--bg-color);
  border: 2px solid var(--frame-border-color);
  border-radius: 11px;
  text-decoration: none;
  margin: 15px 10px;
  box-shadow: 0 5px 5px #999;
}

.button:hover {
  transform: scale(1.04);
}

.button-text {
  font-family: 'Ubuntu', sans-serif;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  vertical-align: middle;
  font-size: 1.2em;
  color: var(--button-font-color);
  text-shadow: 2px 3px 2px black;
  font-weight: bold;
  text-decoration: none;
  padding: 0 8px;
}

a .button {
  text-decoration: none;
}

.button:hover {
  background-color: var(--button-hover-bg-color);
}

.button:active {
  background-color: var(--bg-color);
  transform: translateY(4px);
  box-shadow: 0 5px 5px #999;
}

.unactive-button {
  display: table;
  height: 35px;
  min-width: 80px;
  background-color: var(--unactive-button-bg-color);
  border: 2px solid var(--unactive-frame-border-color);
  border-radius: 11px;
  text-decoration: none;
  margin: 10px;
}

.unactive-button-text {
  font-family: 'Ubuntu', sans-serif;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  vertical-align: middle;
  font-size: 1.2em;
  color: var(--unactive-font--color);
  text-shadow: 2px 3px 2px black;
  font-weight: bold;
  text-decoration: none;
  padding: 0 8px;
}

.unactive-button:hover {
  cursor: not-allowed;
}
